//색상 및 그림자 변수
$btnShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$itemShadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
$btnColor: #3a9488;
$btnHovColor:  #2c695f;
$lightColor: #C0DEC7;
$accentLight : #F9D5D3;
$accentLight2 : #ECA4A6;
$btnReset: #a3afb8;
$btnHovReset:#9c9c9c;
$modalBg : #ECE7E0;
$gradient : linear-gradient(to bottom, #325745 0%, #004225 100%);
$boxBg:#D2D7DF;
$lightBg:#efeff1;
$footerBg:#4b4b4b;
$c1:rgb(243, 129, 129);
$--c1-l:#FCE0E0;
$--c1-t:#260404;
$--c1-s:rgba(243, 129, 129,0.58);
$--c2: rgb(252, 227, 138);
$--c2-l: #FEF8E2;
$--c2-t:#2B2201;
$--c2-s: rgba(252, 227, 138,0.58);
$--c3: rgb(149, 225, 211);
$--c3-l:#E4F7F4;
$--c3-t: #09201F;
$--c3-s:rgba(149, 225, 211,0.58);

@mixin centerboth  {
  display:flex;
  justify-content: center;
  align-items: center;
}
