@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
@import url("https://cdn.jsdelivr.net/gh/jonsuh/hamburgers/dist/hamburgers.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  font-size: 10px;
}

* {
  font-family: 'Pretendard';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: calc(100vh - 90px);
}

#wrapper {
  height: auto;
  min-height: 100%;
}

footer {
  height: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #4b4b4b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: rgba(255, 255, 255, 0.8);
}

footer p {
  margin: 5px 0;
}

footer div:last-child {
  text-align: right;
}

footer a {
  margin-right: 4px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer svg {
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer a:hover svg,
footer a:active svg,
footer a:focus svg {
  fill: #C0DEC7;
}

footer h4 {
  margin: 0;
  font-weight: bolder;
  font-size: 1.5rem;
}

@media screen and (max-width: 350px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 10px;
  }
  footer div * {
    text-align: left;
  }
}

b {
  font-weight: bolder;
}

/*버튼*/
.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
}

.btn-box .btn {
  margin: 0;
}

.btn-box-grid {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid: 1fr / 2fr 2fr;
}

.btn-box-grid .btn-sm {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-color: #a3afb8;
}

.btn {
  font-family: 'NEXON Lv1 Gothic OTF';
  display: inline-block;
  margin: 5px;
  border-radius: 4px;
  font-size: 1.3rem;
  color: #fff;
  padding: 8px 25px 8px 25px;
  border: none;
  letter-spacing: .02rem;
  background-color: #3a9488;
  outline: 0;
  cursor: pointer;
}

.btn:only-of-type(button) {
  float: right;
}

.btn-disabled {
  cursor: not-allowed;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.btn {
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.btn i {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.btn-sm {
  font-size: 1.2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-full {
  width: 100%;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(58, 148, 136, 0.6), rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: 0 0 0 3px rgba(58, 148, 136, 0.6), rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.btn:hover,
.btn:focus {
  background-color: #2c695f;
}

textarea,
input[type=text] {
  outline: none;
  resize: none;
  border: 1px solid #a3afb8;
  border-radius: 2px;
}

textarea:active, textarea:focus,
input[type=text]:active,
input[type=text]:focus {
  -webkit-box-shadow: inset 0 0 0 3px rgba(249, 213, 211, 0.6);
          box-shadow: inset 0 0 0 3px rgba(249, 213, 211, 0.6);
}

nav#float-menu {
  position: fixed;
  top: 4rem;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 5rem;
  gap: 10px;
}

nav#float-menu > div,
nav#float-menu > a {
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

nav#float-menu .f-menu {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: #4b4b4b;
  padding: 12px 10px;
  width: 50px;
  border-radius: 50%;
  z-index: 20;
}

nav#float-menu .f-menu--1 {
  --text-color: #260404;
  --bg-color: rgb(243, 129, 129);
  --text-color-light: #FCE0E0;
}

nav#float-menu .f-menu--2 {
  --text-color: #2B2201;
  --bg-color: rgb(252, 227, 138);
  --text-color-light: #FEF8E2;
}

nav#float-menu .f-menu--3 {
  --text-color: #09201F;
  --bg-color: rgb(149, 225, 211);
  --text-color-light: #E4F7F4;
}

nav#float-menu .f-menu.is-active ~ a:nth-child(0) {
  -webkit-animation: bounce-in-top 1.5s both 0s;
          animation: bounce-in-top 1.5s both 0s;
}

nav#float-menu .f-menu.is-active ~ a:nth-child(1) {
  -webkit-animation: bounce-in-top 1.5s both 0.5s;
          animation: bounce-in-top 1.5s both 0.5s;
}

nav#float-menu .f-menu.is-active ~ a:nth-child(2) {
  -webkit-animation: bounce-in-top 1.5s both 1s;
          animation: bounce-in-top 1.5s both 1s;
}

nav#float-menu .f-menu.is-active ~ a:nth-child(3) {
  -webkit-animation: bounce-in-top 1.5s both 1.5s;
          animation: bounce-in-top 1.5s both 1.5s;
}

nav#float-menu .f-menu.is-active ~ a:nth-child(4) {
  -webkit-animation: bounce-in-top 1.5s both 2s;
          animation: bounce-in-top 1.5s both 2s;
}

nav#float-menu .f-menu.is-active ~ a:nth-child(5) {
  -webkit-animation: bounce-in-top 1.5s both 2.5s;
          animation: bounce-in-top 1.5s both 2.5s;
}

nav#float-menu a {
  position: relative;
  background: #efeff1;
  color: var(--text-color);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.6rem;
  z-index: 1;
}

nav#float-menu .hamburger-inner,
nav#float-menu .hamburger-inner:after,
nav#float-menu .hamburger-inner:before {
  width: 30px;
  height: 5px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-15 0:30:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
/*# sourceMappingURL=default.css.map */