
.message {
    background-color: #F1F1F1;
    color: #404040;
}
.message {
  margin-left: 60px;
  padding-left:10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25em;
  overflow: visible;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

[data-avatarurl] {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px;
  & ~:not([data-avatarurl]) {
    background:mediumorchid;
  }
}

.spacer {
  display:none;
}

.by {
  display:inline-block;
  position:relative;
  left:-60px;
  top:0;
  text-align:center;
  width:50px;
  word-break: break-all;
}
.avatar {
  position: relative;
  display: inline-block;
  top: 0;
  left: -65px;
  width: 50px;
  height: 50px;
  text-align: left;
  >img {
    height:50px;
    width:50px;
  }
  &:empty ~ .by, &.noImage ~ .by{
    background-color: aqua;
    top:0;
  }
}
.emote .avatar {
  display:none;
}

