.message {background-color:#F1F1F1; color:#404040}
#log-content .message .spacer {background-color: #e1e1e1;} /*#ck-nospacer*/
.message.desc {background-color:#F1F1F1; color:#404040}
.message.desc .spacer {background-color: #e1e1e1;}
.message.emote {color: #653e10;background-color: #f5e4d3;}
.message.emote .spacer {background-color: #f0c392;}
.message.you {background-color:#d3e5f5;color:#404040}
.message.you .spacer {background-color: #b1d9fa;}
.message.whisper {background-color: #f2f5d3;color:#404040}
.message.whisper .spacer {background-color: #f0f092;}
.message .avatar img {border-radius:0%;}
.message .avatar {align-items:stretch;}
.message .tstamp { display: none;}
.dicon .backing {display:none;}
.message, .message *:not(.material-icons-round) {}
.dicon {}