@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap");
@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  height: 100%;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Pretendard';
}

*:focus {
  outline: none;
}

input {
  display: none;
}

a {
  color: #3a9488;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #2c695f;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: str;
      -ms-flex-align: str;
          align-items: str;
  gap: 10px;
  background-color: #E9E9E8;
  padding-top: 10px;
  font-size: 1.7rem;
  font-weight: 800;
}

.menu p {
  margin: 0;
  padding: 0;
  font-size: smaller;
  font-weight: 300;
}

label {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

label:hover, label:focus, label:active {
  background-color: rgba(255, 255, 255, 0.8);
}

label:nth-of-type() {
  background-color: white;
}

.tabCon {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  width: 100%;
  padding-top: 20px;
  font-size: 1.4rem;
}

input:checked + .tabCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content + * {
  margin-top: 20px;
}

.setting input {
  display: inline-block;
}

#insane + .tabCon .content table {
  border-collapse: collapse;
  border: 2px solid #222;
  text-indent: none;
  font-size: 16px;
  width: 600px;
  background-color: white;
}

#insane + .tabCon .content table td {
  border: 1px solid #444;
  padding: 2px 5px;
  vertical-align: middle;
  line-height: 2.2rem;
}

#insane + .tabCon .content table td:nth-of-type(1) {
  width: 36px;
}

#insane + .tabCon .content table td:nth-of-type(2) {
  min-width: 9.6rem;
}

#insane + .tabCon .content table td:nth-of-type(3), #insane + .tabCon .content table td:nth-of-type(4) {
  min-width: 8rem;
}

#insane + .tabCon .content table td:nth-of-type(5) {
  min-width: 6.4rem;
}

#insane + .tabCon .content table .title tr:first-child {
  font-size: 25px;
  height: 4rem;
}

#insane + .tabCon .content table .title tr:first-child td:first-of-type {
  background-image: url("https://headdrop.github.io/roll20-log-customize/handout/siksin.svg");
  background-size: 25px;
  background-position: 6px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border-right: 0px;
  font-weight: 600;
}

#insane + .tabCon .content table .title tr:first-child td:nth-of-type(2) {
  padding-left: 10px;
  border-left: 0px;
  font-weight: 800;
}

#insane + .tabCon .content table .title tr:nth-child(2) {
  background-color: #CCC;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

#insane + .tabCon .content table .title tr:nth-child(2) td:first-of-type {
  font-size: 14px;
}

#insane + .tabCon .content tbody.cont tr {
  position: relative;
}

#insane + .tabCon .content tbody.cont tr span {
  position: absolute;
  right: calc(100% + 10px);
  cursor: pointer;
  display: inline-block;
  width: 25px;
  height: 25px;
}

#insane + .tabCon .content tbody.cont td:first-of-type, #insane + .tabCon .content tbody.cont td:nth-of-type(3), #insane + .tabCon .content tbody.cont td:nth-of-type(4) {
  text-align: center;
}

#insane + .tabCon .content tbody.cont td:nth-of-type(2) {
  font-size: 18px;
  font-weight: 800;
}

#insaneHO:checked ~ .bottom > #down {
  display: none;
}

#insaneHO + .tabCon {
  font-size: 16px;
}

#insaneHO + .tabCon .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#insaneHO + .tabCon .item {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 90px;
  -ms-grid-columns: 250px 250px 100px;
      grid-template: 30px 90px / 250px 250px 100px;
  grid-auto-flow: column;
  gap: 5px;
}

#insaneHO + .tabCon .item > textarea, #insaneHO + .tabCon .item > input {
  font-size: 1.6rem;
  overflow-y: auto;
}

#insaneHO + .tabCon .item button {
  font-size: 1.6rem;
  padding: 5px;
}

#insaneHO + .tabCon .item button.remove {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 100%;
  width: 30px;
  padding: 5px;
  margin: 0 10px 0 0;
}

#insaneHO + .tabCon input[type="text"] {
  display: inline-block;
}

#insaneHO + .tabCon textarea {
  resize: none;
}

#insaneHO + .tabCon .controls {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

#insaneHO + .tabCon .ho-output {
  position: absolute;
  top: -4000000px;
  width: 100%;
}

#insaneHO + .tabCon .ho-output > div {
  width: 250px;
}

#insaneHO + .tabCon .ho-output * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#insaneHO + .tabCon .ho-front, #insaneHO + .tabCon .ho-back {
  display: inline-block;
}

#insaneHO + .tabCon .ho-front {
  border: 1px solid black;
  padding: 4px;
  background-color: white;
  color: black;
}

#insaneHO + .tabCon .ho-front * {
  line-height: normal;
}

#insaneHO + .tabCon .ho-front > div:first-child {
  text-align: center;
  font-family: 'IM Fell DW Pica';
  font-size: 2rem;
  font-weight: bold;
}

#insaneHO + .tabCon .ho-front .ho-border {
  border: solid 3px black;
  padding: 2px;
  text-align: initial;
}

#insaneHO + .tabCon .ho-front .ho-box {
  padding-bottom: 1px;
  border: 1px solid black;
}

#insaneHO + .tabCon .ho-front .ho-box * {
  padding: 3px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#insaneHO + .tabCon .ho-front .ho-box span:first-child {
  border-right: 1px solid black;
  display: inline-block;
  padding: 3px 6px;
}

#insaneHO + .tabCon .ho-front .ho-box div:first-of-type {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

#insaneHO + .tabCon .ho-front .ho-box-content {
  padding: 1px 3px 0 3px;
  margin-bottom: -1px;
  background-image: linear-gradient(to right, transparent 0, transparent 8px, white 8px, white 12px), linear-gradient(to bottom, white 0, white 44px, #888 44px, #888 44px);
  background-size: 12px 45px;
  background-repeat: repeat;
  line-height: 22.5px;
}

#insaneHO + .tabCon .ho-back {
  background-color: black;
  border: 1px solid black;
  padding: 4px;
}

#insaneHO + .tabCon .ho-back * {
  line-height: normal;
}

#insaneHO + .tabCon .ho-back > div:first-child {
  text-align: center;
  color: white;
  font-family: 'IM Fell DW Pica';
  font-size: 2rem;
  font-weight: bold;
}

#insaneHO + .tabCon .ho-back .ho-border {
  border: solid 3px white;
  padding: 2px;
  text-align: initial;
}

#insaneHO + .tabCon .ho-back .ho-border * {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#insaneHO + .tabCon .ho-back .ho-border > div:first-child {
  text-align: center;
  color: white;
  border-bottom: 3px solid black;
}

#insaneHO + .tabCon .ho-back .ho-box {
  padding-bottom: 1px;
  background-color: white;
  color: black;
}

#insaneHO + .tabCon .ho-back .ho-box * {
  padding: 3px;
}

#insaneHO + .tabCon .ho-back .ho-box span:first-child {
  border-right: 1px solid black;
  display: inline-block;
  padding: 3px 6px;
}

#insaneHO + .tabCon .ho-back .ho-box div:first-of-type {
  border-top: 1px solid black;
}

#insaneHO + .tabCon .ho-back .ho-box-content {
  padding: 1px 3px 0 3px;
  margin-bottom: -1px;
  background-image: linear-gradient(to right, transparent 0, transparent 8px, white 8px, white 12px), linear-gradient(to bottom, white 0, white 44px, #888 44px, #888 44px);
  background-size: 12px 45px;
  background-repeat: repeat;
  line-height: 22.5px;
}

#insaneHO + .tabCon .ho-box-content {
  text-align: justify;
}

span.bold {
  font-weight: 600;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 50px 0;
}

button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: inline-block;
  margin: 5px;
  border-radius: 4px;
  font-size: large;
  color: #fff;
  padding: 8px 25px 8px 25px;
  border: none;
  letter-spacing: .02rem;
  background-color: #3a9488;
  cursor: pointer;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

button:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(58, 148, 136, 0.6), rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: 0 0 0 3px rgba(58, 148, 136, 0.6), rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

button:hover, button:focus {
  background-color: #2c695f;
}
/*# sourceMappingURL=ho2image.css.map */