div.container {
  display:flex;
  gap:10px;
}
#controler {
  input[type=checkbox]:checked + input[type=text] {
    display:block!important;
  }
}

div.sp-replacer {
  margin : 0 2px;
}
.sp-replacer {
  height: 2em;
  margin:0;
  width: 80px;
  // box-shadow:$btnShadow,0 0 1px rgba(0,0,0,0.5);
}
.sp-preview-inner {
  color: #fff;
  padding: 2px;
}
.sp-replacer .sp-dd{
  display: none!important;
}
.sp-replacer {
  position:relative;
  margin: 2px;
}